export DATABASE_URL=postgres://postgres:password@localhost:5432/svix_tasks

# for psql
export PGHOST=127.0.0.1
export PGPORT=5432
export PGDATABASE=svix_tasks
export PGUSER=postgres
export PGPASSWORD=password

# start app in local mode
export APP_ENVIRONMENT=local
